@import "../../styles/fonts";
@import "../../styles/animations";
@import "../../styles/colours";

.landing {
    box-sizing: border-box;
    position: relative;
    display: block;
    text-align: center;

    h1 {
        margin: 50px 0 30px 0;
        font-size: 50px;
    }


}
