@import "./fonts";
@import "./animations";
@import "./colours";

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    background: #F8F9FA;
    font-family: $dm-sans;
    color: $primaryColor;

}
