@import "../../styles/fonts";
@import "../../styles/animations";
@import "../../styles/colours";

.user-profile {
    box-sizing: border-box;
    position: relative;
    display: block;

    button {
        background-color: rgb(90, 175, 123);
    }

}


